.App{
    display: flex;
    justify-content: center;
    position: relative;
}

.btnBox{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.appBtn{
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: rgba(175, 167, 202, 0.5);
    border: none;
    font-size: 22px;
    color: white;  
    border-radius: 8px;
}

.watermake{
    position: absolute;
    /* top: 150%; */
    /* left: 50%; */
   transform: translate(-60% , 280%);
}